<% if (title) { %> 
    <h1><%= title %></h1> 
    <% } else {
    res.redirect('/') 
    } %> 

<% if (messages().notice) { %> 
        <% messages().notice.forEach(function(message){ %> 
        <p><%= message %></p> 
        <% }) %> 
    <% } %> 

<% if (errors) { %> 
    <ul class="notice"> 
    <% errors.array().forEach(error => { %> 
    <li><%= error.msg %></li> 
    <% }) %> 
    </ul> <% } %>
 
<section class="register-container">
    <p class="form-header">All fields are required</p>
  <form action="/account/register" method="post" class="auth-form">
    <label for="firstname">First name</label>
    <input type="text" id="firstname" name="account_firstname" required value="<%= locals.account_firstname %>">
 
    <label for="lastname">Last name</label>
    <input type="text" id="lastname" name="account_lastname" required value="<%= locals.account_lastname %>">
 
    <label for="email">Email address</label>
    <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">
 
    <label for="password">Password</label>
    <input type="password" id="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    <p class="password-rules">
      <i>Password must be at least 12 characters and contain at least 1 uppercase letter, 1 number, and 1 special character.</i>
    </p>
 
    <button type="submit">Register</button>
  </form>
</section>